h2 {
    cursor: pointer;
}
form:not(.mb-6), .mt-4 {
    display: none;
}
.allocated-ips {
    display: block;
    margin-top: 1rem;
}
.button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    justify-items: center;
}