<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JDB-NET IPAM</title>
    <link rel="icon" type="image/png" href="/static/logo.png">
    <link href="/static/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-300 text-gray-900 dark:bg-gray-900 dark:text-gray-100 min-h-screen flex flex-col">
    {% include 'header.html' %}
    <div class="flex-1 flex items-center justify-center mx-4">
        <div class="container py-8 max-w-md pt-20">
            <div class="bg-gray-200 dark:bg-gray-800 rounded-2xl shadow-lg p-8">
                <h1 class="text-3xl font-bold mb-6 text-center">JDB-NET IPAM</h1>
                <form action="/login" method="POST" class="flex flex-col space-y-4">
                    <input type="email" name="email" placeholder="Email Address" class="p-3 rounded-lg bg-gray-200 dark:bg-gray-800 border border-gray-600" required>
                    <input type="password" name="password" placeholder="Password" class="p-3 rounded-lg bg-gray-200 dark:bg-gray-800 border border-gray-600" required>
                    <button type="submit" class="bg-gradient-to-r bg-gray-300 hover:bg-gray-400 dark:from-gray-500 dark:to-gray-700 hover:dark:from-gray-700 hover:dark:to-gray-500 hover: px-4 py-2 rounded-lg">Login</button>
                </form>
                {% if error %}
                <p class="text-red-500 text-center mt-4">{{ error }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>